################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/PetStoreInventorySolution/PetStoreInventorySolution.sln
/.vs
