@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Width of the vertical scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners of the scrollbar thumb */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb when hovered */
}

.table-wrp {
  max-height: 48vh;
  overflow-y: auto;
  display: block;
}

thead {
  position: sticky;
  top: 0
}