<div class="p-4">
  <div class="container mx-auto">
    <div class="flex justify-between mb-4">
      <h2 class="text-2xl font-semibold">Dieren Lijst</h2>
      <div class="relative">
        <input type="text" placeholder="Zoeken..."
          class="px-4 py-2 pl-10 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange($event)">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-search text-gray-500"></i>
        </span>
      </div>
      <a routerLink="/form" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Een Dier Toevoegen</a>
    </div>
    <!-- Loading skeleton -->
    <div *ngIf="(isLoading$ | async) && filteredPets.length === 0" class="bg-white shadow rounded-lg p-4 text-center">
      <div class="fixed top-0 left-0 w-full z-50">
        <div class="relative pt-1">
          <div class="w-full rounded-full h-1.5 overflow-hidden">
            <div class="relative w-full h-full">
              <div class="absolute top-0 left-0 h-full bg-blue-500 animate-indeterminate"></div>
            </div>
          </div>
        </div>
      </div>
      <div role="status"
        class="max-w-md p-4 space-y-4 border border-gray-200 divide-y divide-gray-200 rounded shadow animate-pulse dark:divide-gray-700 md:p-6 dark:border-gray-700">
        <div class="flex items-center justify-between">
          <div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
            <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
          </div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
          <div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
            <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
          </div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
          <div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
            <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
          </div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
          <div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
            <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
          </div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <div class="flex items-center justify-between pt-4">
          <div>
            <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
            <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
          </div>
          <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
        </div>
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- No data message -->
    <div *ngIf="!(isLoading$ | async) && filteredPets.length === 0" class="bg-white shadow rounded-lg p-4 text-center">
      <p class="text-gray-500">Momenteel zijn er geen dieren.</p>
    </div>
    <div *ngIf="filteredPets.length > 0" class="bg-white shadow rounded-lg overflow-hidden">
      <div class="table-wrp block max-h-96 thin-scrollbar">
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="py-2 px-4 bg-gray-200 text-center">Naam</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Diersoort</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Leeftijd</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Prijs</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Geslacht</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Meer details</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Bewerken</th>
              <th class="py-2 px-4 bg-gray-200 text-center">Verwijderen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pet of filteredPets" class="border-b">
              <td class="py-2 px-4 text-center">{{ pet.naam }}</td>
              <td class="py-2 px-4 text-center">{{ pet.diersoort }}</td>
              <td class="py-2 px-4 text-center">{{ pet.leeftijd }}</td>
              <td class="py-2 px-4 text-center">{{ pet.prijs }}</td>
              <td class="py-2 px-4 text-center">{{ pet.geslacht }}</td>
              <td class="py-2 px-4 text-center">
                <a [routerLink]="['/details/', pet.id]"
                  class="bg-gray-200 text-black px-4 py-1 rounded hover:bg-gray-300">Meer details</a>
              </td>
              <td class="py-2 px-4 text-center">
                <button class="text-yellow-500 hover:text-yellow-600" (click)="populateForm(pet)">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
              <td class="py-2 px-4 text-center">
                <button class="text-red-500 hover:text-red-600" (click)="onDelete(pet.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <app-chart [filteredPets]="filteredPets"></app-chart> -->
      <app-chart class="absolute bottom-0 left-0 w-full"></app-chart>
    </div>
  </div>
</div>